body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
}

h1, h2, h3, p, a {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
}

h1, h2, h3 {
    margin-bottom: 2px;
}

a {
    text-decoration: none;
    color: #fff;
}

.card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 10px;
    border-radius: 5px;
    background-color: #F4F6F8;
    margin: 30px;
    text-align: center;
    max-width: 200px;
    /* box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.3); */
    transition: 200ms;
}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    margin-bottom: 12px;
    margin-top: 0;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.card p {
    font-size: 12px;
    font-weight: inherit;
}