.home {
    position: relative;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: calc(100vh - 100px);
    overflow: hidden;
    max-width: 960px;
    position: relative;
}

.home .bg, .home .overlay {
    position: fixed;
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
}

.home .bg {
    z-index: -2;
    overflow: hidden;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

.home .bg.behind {
    filter: blur(0);
}

.home .overlay {
    z-index: -1;
    background-color: #7EC1FF;
    opacity: 0.42;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    border-bottom: 1px solid #fff;
    max-width: 960px;
}

header a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    transition: 200ms;
}

header a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

header i {
    position: absolute;
    top: 18px;
    left: 18px;
    color: #fff;
}

.home .info {
    flex-direction: column;
    max-width: 500px;
    justify-self: flex-start;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    animation: slideIn 1200ms;
}

.home .info p {
    border-top: 1px solid #fff;
    padding-top: 10px;
}

.home .info a {
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: 200ms;
    margin-bottom: 20px;
}

.home .info a:first-of-type {
    margin-right: 20px;
}

.home .info a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.home .info .buttons {
    flex-wrap: wrap;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(100vh);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.icons a {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border-radius: 10px;
    transition: 200ms;
    min-width: 130px;
}

.icons a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

.icons a img {
    height: 70px;
    margin: 10px;
}

.icons a p {
    margin: 0 10px 10px;
    text-align: center;
}

.mainPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100vw;
}

.mainPage .openingHours {
    background-color: #fff;
    padding: 30px 0;
}

.mainPage .openingHours p {
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}

.mainPage .priceTable {
    flex-direction: column;
    max-width: 600px;
    width: calc(100vw - 20px);
}

.mainPage .priceTable div {
    border-bottom: 1px solid #999;
}

.mainPage .priceTable div p {
    margin: 10px 0;
}

.mainPage .priceTable div :last-child {
    margin-left: auto;
}

.mainPage .divider {
    width: 100%;
    align-items: center;
    margin: 60px 0;
    max-width: 960px;
}

.mainPage .divider div {
    flex: 1;
    height: 1px;
    margin: 0 20px;
    justify-content: center;
    background-color: #666;
}

.mainPage .divider i {
    color: #333;
}

.mainPage .cards {
    flex-wrap: wrap;
    justify-content: center;
}

.mainPage p {
    max-width: 500px;
    text-align: center;
}
