@media (hover: none) {
  a:hover { color: inherit; }
}

@media only screen and (max-width: 400px) {
    .card {
        max-width: calc(100vw - 80px) !important;
        width: calc(100vw - 80px) !important;
    }
    header i {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    header a {
        width: 33%;
        padding: 0;
        justify-content: center;
    }

    header img {
        display: none;
    }

    .icons {
        position: initial;
    }

    .mainPage .openingHours {
        flex-direction: column;
    }

    .slideshow {
        height: 200px !important;
    }

    .squares {
        flex-direction: column;
    }

    .squares div {
        width: 100vw !important;
        height: auto;
        min-height: 0;
    }

    .squares div:last-of-type {
        width: calc(100vw - 80px) !important;
    }

    .squares div iframe {
        height: 400px;
    }

    .row {
        flex-direction: column;
    }
}